# Backend Environment Variables (Render / Local)
PORT=5000
MONGO_URI=mongodb+srv://Karthik:Karthik123@cluster0.1bjbbcr.mongodb.net/?appName=Cluster0
JWT_SECRET=ed8380bd6161168d07e64dd1d58b32c05c64176f040e66ec5ea69be7f153943a

FIREBASE_PROJECT_ID=hiretrack-9145d

CLOUDINARY_CLOUD_NAME=dtrjmntxd
CLOUDINARY_API_KEY=245854669881864
CLOUDINARY_API_SECRET=VF5MJkR9KEUH_lSdwz55c6n2ehM

CLIENT_URL=http://localhost:5173
